@use "sass:math";
@import "../../../shared/styles/mixins";

.SideBar {
	display: flex;
	flex-direction: column;

	min-width: 220px;
	height: calc(100vh - 4rem);
	margin: 2rem;
	padding-top: 1.36rem;
	padding-bottom: 1.36rem;

	background: var(--sidebar-color);
	border-radius: 2rem;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	gap: 0.5rem;

	margin-top: 2.66rem;
}

.menuItem {
	cursor: pointer;

	position: relative;

	display: flex;
	align-items: center;

	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: var(--accent-color);

			&::after {
				opacity: 1;
			}
		}
	}

	&::after {
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		opacity: 0;
		background: var(--accent-gradient-color);
		border-left: 2px solid var(--accent-color, #5ED3F3);

		transition: all 0.3s ease 0s;
	}
}

.menuLogo {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 60px;
	padding: 0 1rem;
}

.menuText {

}

.actions {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}
