.app.dark {
	// Colors
	--dark-bg-color: #090F11;
	--sidebar-color: var(--light-bg-color, #151C1F);
	--bg-color: #0C1214;
	--light-bg-color: #151C1F;
	--text-color: #DBDBDB;
	--hint-color: #555;
	--cancel-color: #D95757;
	--save-color: #6CD98B;
	--icon-color: #74A2B2;
	--accent-color: #5ED3F3;
}
