.app {
	// Colors
	--dark-bg-color: #FFF;
	--sidebar-color: linear-gradient(0deg, #E2EEF1 0%, #E2EEF1 100%), #151C1F;
	--bg-color: #EFF5F6;
	--light-bg-color: #E2EEF1;
	--text-color: #141C1F;
	--hint-color: #ADBCC0;
	--cancel-color: #F77;
	--save-color: #62DE85;
	--icon-color: #5ED3F3;
	--accent-color: #00C8FF;
	--accent-gradient-color: linear-gradient(88deg, rgb(29 89 255 / 30%) 0%, rgb(94 211 243 / 0%) 100%);
}
